* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: var(--corSecundaria);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.user-input {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: var(--corSecundaria);
    color: var(--corPrincipal);
    text-align: center;
}

:root {
    --corPrincipal: #4834d4;
    --corSecundaria: #dfe6e9;
}
