* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: var(--corSecundaria);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

:root {
    --corPrincipal: #4834d4;
    --corSecundaria: #dfe6e9;
}
